# Auto detect text files and perform LF normalization
* text=auto
* linguist-vendored
*.cpp linguist-vendored=false
*.h linguist-vendored=false
*.py linguist-vendored=false
*.ino linguist-vendored=false
*.java linguist-vendored=false
*.xml linguist-vendored=false